<nav class="navigation-wrapper">
  <div class="row align-justify align-middle">
    <div class="shrink columns large-order-1">
      <div class="row align-middle">
        <div class="columns shrink">
          <div class="user-navigation">
            <a href="" class="square-box logo-box">
              </a>
            <a href="" class="square-box user-box">
              </a>
          </div>
        </div>
        <div class="columns shrink">
          <div class="row align-middle columns">
            <h3 class="lead text-white">Jan Kowalski</h3>
          </div>
          <ul class="row no-bullets-list no-margin">
            <li class="columns shrink">
              <a href="#"><img class="thumb-img" src="img/mail.png" alt="Inbox" /></a>
            </li>
            <li class="columns shrink">
              <a href="#"><img class="thumb-img" src="img/settings.png" alt="Settings" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="shrink columns large-order-3">
      <div class="row">
        <div class="shrink columns">
          <a href="#">
            <img class="nav-img" src="img/search.png" alt="Search" />
          </a>
        </div>
        <div class="shrink columns">
          <a href="#">
            <img class="nav-img" src="img/login.png" alt="Logout" />
          </a>
        </div>
      </div>
    </div>
    <div class="shrink columns large-order-2">
      <ul class="nav-list row pages-navigation">
        <li class="columns nav-box text-center active">
          <a class="nav-link" href="#" alt="home">
                <img class="nav-img block" src="img/home.png" alt="" />
                 <span class="block">home</span>
              </a>
        </li>
        <li class="columns nav-box text-center">
          <a class="nav-link" href="#" alt="analyse">
                <img class="nav-img block" src="img/analyse.png" alt="" />
                <span class="block">analyse</span>
              </a>
        </li>
        <li class="columns nav-box text-center">
          <a class="nav-link" href="#" alt="plan">
                <img class="nav-img block" src="img/plan.png" alt="" />
                <span class="block">plan</span>
              </a>
        </li>
        <li class="columns nav-box text-center">
          <a class="nav-link" href="#" alt="earn">
                <img class="nav-img block" src="img/earn.png" alt="" />
                <span class="block">earn</span>
              </a>
        </li>
      </ul>
    </div>
  </div>

</nav>

<main class="dashboard-wrapper">
  <section class="section">
    <div class="row">
      <div class="large-expand columns">
        <h1>Finance life stream</h1>
        <div ng-controller="DashboardController">
          <div class="row">
            <div class="small-4 columns">
              <h2 class="lead">Balance</h2>
              <span class="text-condensed"><b>{{ balance | currency : '' : 2 }}</b> PLN</span>
            </div>
            <div class="small-4 columns">
              <h2 class="lead">Finance stream</h2>
              <span class="text-condensed"><b>{{ funds | currency : '' : 2 }}</b> PLN</span>
            </div>
            <div class="small-4 columns">
              <h2 class="lead">Scheduled payments</h2>
              <span class="text-condensed"><b>{{ payments | currency : '' : 2 }}</b> PLN<span>
                </div>
              </div>
            </div>
          </div>
          <div class="shrink large-expand columns">
            <div class="row">
              <div class="columns">
                <div class="buttons-wrapper">
                  <span>Add</span>
              <button class="cta">Bank</button>
              <button class="cta">Payment</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <div class="buttons-wrapper inline">
              <span>Account analysis</span>
              <div class="buttons-container">
                <button class="cta">on</button>
                <button class="cta active">off</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="finance-stream">
    <div class="row">
      <div class="columns">
        <div class="stream-wrapper">
          lorem ipsum
        </div>
      </div>
    </div>
  </section>

  <section class="products-history">
    <div class="row">
      <div class="columns">
        <h2 class="lead">Products</h2>
        <ul class="row small-up-2 no-bullets-list">
          <li class="columns">
            <a class="product-link" href="#">
              <div class="products-box">
                <div class="row">
                  <div class="column small-4">
                    <img class="nav-img block" src="img/wallets.png" alt="" />
                  </div>
                  <div class="column">
                    <div class="row columns">
                      Wallets [x]
                    </div>
                    <div class="row columns">
                      666,00 PLN
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="columns">
            <a class="product-link" href="#">
              <div class="products-box">
                <div class="row">
                  <div class="column small-4">
                    <img class="nav-img block" src="img/deposits.png" alt="" />
                  </div>
                  <div class="column">
                    <div class="row columns">
                      Deposits [x]
                    </div>
                    <div class="row columns">
                      555,00 PLN
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="columns">
            <a class="product-link" href="#">
              <div class="products-box">
                <div class="row">
                  <div class="column small-4">
                    <img class="nav-img block" src="img/accounts.png" alt="" />
                  </div>
                  <div class="column">
                    <div class="row columns">
                      Accounts [x]
                    </div>
                    <div class="row columns">
                      666,00 PLN
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="columns">
            <a class="product-link" href="#">
              <div class="products-box">
                <div class="row">
                  <div class="column small-4">
                    <img class="nav-img block" src="img/funds.png" alt="" />
                  </div>
                  <div class="column">
                    <div class="row columns">
                      Funds [x]
                    </div>
                    <div class="row columns">
                      666,00 PLN
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="columns">
            <a class="product-link" href="#">
              <div class="products-box active">
                <div class="row">
                  <div class="column small-4">
                    <img class="nav-img block" src="img/loans.png" alt="" />
                  </div>
                  <div class="column">
                    <div class="row columns">
                      Bank loans [x]
                    </div>
                    <div class="row columns">
                      666,00 PLN
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="columns">
        <h2 class="lead">History</h2>
        <div class="list-component">
          <ul class="data-list">

            <li ng-repeat="transfer in transfers">
              <div class="row align-middle">
                <div class="small-3 columns">
                  <span class="js-getData date">{{ transfer.date }}</span>
                </div>
                <div class="small-6 columns">
                  <span class="js-getData description">{{ transfer.description }}</span>
                  <button class="button small no-margin float-right" ng-click="toggleDetails($event, transfer.id)">Details</button>
                </div>
                <div class="small-3 columns">
                  <span class="js-getData status">{{ transfer.status }}</span>
                  <span class="js-getData amount">{{ transfer.amount | currency : '' : 2 }}</span>
                  <span class="js-getData hcurrency">{{ transfer.currency }}</span>
                </div>
              </div>
              <div class="details-container" ng-show="transfer.id === activeId">
                <div class="row align-middle">
                  <div class="columns small-3 text-left">
                    <span class="js-getData category">ID: {{ transfer.id }} </span>
                  </div>
                  <div class="columns small-9 text-left">
                    <span class="js-getData category">category: {{ transfer.category }} </span>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- </div> -->
</main>
