[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto', sans-serif;
}

h1, .h1 {
  font-size: 32px;
  @media screen and (min-width: 40em) {
    font-size: 48px !important;
  }
}

h2, .h2 {
  font-size: 30px;
  @media screen and (min-width: 40em) {
    font-size: 40px !important;
  }
}

h3, .h3 {
  font-size: 26px;
  @media screen and (min-width: 40em) {
    font-size: 36px !important;
  }
}

h4, .h4 {
  font-size: 20px;
  @media screen and (min-width: 40em) {
    font-size: 30px !important;
  }
}

h5, .h5 {
  font-size: 14px;
  @media screen and (min-width: 40em) {
    font-size: 24px !important;
  }
}

h6, .h6 {
  font-size: 12px;
  @media screen and (min-width: 40em) {
    font-size: 18px !important;
  }
}

.row {
  max-width: 1200px;
}


/* Body */

.body-wrapper {
  position: relative;
  min-height: 100vh;
  background: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif !important;
}


/* Footer */

.flex-footer {
  background: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


/* Login view */

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.apla {
  background: #13bdd2;
  color: #fff;
  margin-top: 1.25rem;
  padding: 1.5em 1em 3em;
  border-radius: 7px
}

.user-container {
  position: relative;
  background: #13bdd2;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  padding: 4em .75em 2em;
  margin-bottom: 2.5rem;
  margin-top: 90px
}

.user-container .user-img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem
}

.user-container .user-img.known {
  background-image: url('../img/user-nav.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.user-container .user-img img {
  height: 60px;
  width: auto;
  margin-top: 20px
}

.user-container .user-img img {
  height: 60px;
  width: auto;
  margin-top: 20px
}

.user-container .user-close, .user-container .user-id {
  display: inline
}

.user-container .user-number {
  margin: 10px
}


/*.user-container .user-close {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #42cadb;
  margin: 10px
}*/

.logo-container {
  width: 160px;
  height: 160px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  margin-top: 1.25rem
}

button {
  cursor: pointer;
}

.buttons-container {
  margin: .625rem
}

.input-container {
  width: 100%;
  position: relative
}

.input-container input {
  width: 100%;
  max-width: 400px;
  margin: 10px 0 0 0;
}

.input-container .password-container, .input-container .login-container {
  /*display: inline;*/
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.input-container .error-label {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  background: #c00;
  color: #fff;
  padding: 5px
}

input {
  background: #fff;
  padding: 5px;
  color: #000;
  border: none;
  border-radius: 7px
}

input:focus {
  border: 1px solid #0c3442
}

input.error {
  border: 2px solid #c00;
  position: relative;
  margin-bottom: 40px
}

input.success {
  border: 2px solid #499203
}

.btn {
  padding: .5rem 1rem;
  text-transform: uppercase;
  border-radius: 5px
}

.btninput [type="submit"], .btn input [type="button"] {
  border-radius: 5px !important
}

.btn.cta-btn {
  min-width: 120px;
  background: #fff;
  color: #000
}

.btn.back-btn {
  min-width: 120px;
  background: #13bdd2;
  color: #fff
}

.text-white {
  color: #fff;
}

.text-normal {
  font-family: 'Roboto', sans-serif;
}

.text-condensed {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1;
}

.relative {
  position: relative;
}

.inline {
  display: inline;
}
